<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class="posts">
        <!-- main start -->

        <div class="new">
            <h3>Sign Up</h3>

            <form id="create_user" action="/users" method="post" class="users_form">

                <label>Email*
                    <span id="email_error" class="error_message"><%= emailError?emailError:"" %></span>
                    <input type="email" name="user[email]" id="email" value="<%= formData?formData.email:"" %>">
                </label>
                <label>Nickname*
                    <span id="nickname_error" class="error_message"><%= nicknameError?nicknameError:"" %></span>
                    <input type="text" name="user[nickname]" id="nickname" value="<%= formData?formData.nickname:"" %>">
                </label>
                <label>Password*
                    <span id="password_error" class="error_message"><%= passwordError?passwordError:"" %></span>
                    <input type="password" name="user[password]" id="password" value="">
                </label>
                <label>Password Confirmation*
                    <span id="password_confirmation_error" class="error_message"></span>
                    <input type="password" name="user[passwordConfirmation]" id="password_confirmation" value="">
                    <p><small>* Required</small></p>
                </label>

                <input type="button" class="submit_btn" value="Submit">
            </form>
            
            <a href="javascript:history.back();"><button type="button">Back</button></a>
        </div>

        <!-- main end -->
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>

    <script src="/js/userform.js"></script>
</body>
</html>