<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../partials/head %>
</head>
<body>
    <header>
        <% include ../partials/header %>
    </header>
    <div class="posts">
        <% include partials/top %>
        <!-- main start -->

        <div class="show">
            <h3><%= data.title %></h3>

            <div class="time">Create at <br>
                <%= data.createdAt.toLocaleDateString() %> <br>
                <%= data.createdAt.toLocaleTimeString() %>
            </div>
            <% if(data.updatedAt) { %>
                <div class="time">Updated at <br>
                    <%= data.updatedAt.toLocaleDateString() %> <br>
                    <%= data.updatedAt.toLocaleTimeString() %>
                </div>
            <% } %>
            <p class="body"><%= data.body %></p>
            <div class="tools">
                <a href="/posts/<%= data._id %>/edit"><button type="button">Edit</button></a>

                <form class="btn_delete" action="/posts/<%= data._id %>?_method=delete" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <a href="/posts"><button type="button">Back</button></a>
        </div>

        <!-- main end -->
    </div>
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>
</html>